@media only screen and (min-width: 768px) {
    .titleBar{
        width: 100vw;
        color: black;
        text-align: -webkit-center;
        padding: 50px 0px;
        z-index: 5;
      }

    .titleBar div{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80vw;
    }
  
    .title{
        font-size: large;
        font-weight: 700;
        font-family: 'Inter';
        color: aliceblue;
    }

   .menuOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
   }

   .menuOptions li a{
    color: white;
    margin-right: 4vw;
    font-size: medium;
   }

  }
  
@media only screen and (max-width: 767px) {
  .titleBar{
      width: 100vw;
      color: white;
      text-align: -webkit-center;
      z-index: 5;
      margin-top: 2vh;
    }

    .title{
      align-content: center;
      margin-left: 5vw;
      margin-right: 15vw;
      font-size: 1.6em;
    }

  .titleBar>div{
    display: flex;
    flex-direction: row;
  }

    .menuOptions{
      display: flex;
      flex-direction: row;
    }

    .menuOptions>li{

      list-style: none;
    }
    .account{
      margin-left: 10vw;
    }


    }